.App{
    position: relative;
    z-index: 10;
}
html, body {
    overflow-x: hidden;
}
.loader{
    height: 100vh;
    width: 100vw;
    background: white;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.loader img {
    height: 100px;
    width: 100px;
}

