body{
	margin: 0px;
	padding: 0px;
	height: 100vh;
	font-family: system-ui;

}

.main{
	height: 1150px;
	width: 800px;
	background-color: white;
	box-shadow: 5px 7px 15px 5px #b9b6b6;
	margin: 20px auto;
    user-select: none;

}
.cover{
    display: flex;
}

.top_section{
	background-color:#151b29;
	text-align: center;
	padding: 20px;
    display: grid; place-items: center;
}
.profile{
	width: 150px;
	border-radius: 50%;
}
.name{
	color: white;
	font-size: 40px;
	font-weight: bold;
	margin: 0px;
	margin-top: 10px;
}
.name span{
	font-weight: 100;
	color: #c7c7c7;
}
.role{
	font-size: 20px;
	color: #c7c7c7;
	margin: 0px;
	margin-top: 10px;
}
.left_side_cols{
	width: 35%;


}
.box{
    margin: 30px 0;
}
.main_content{
	width: 62%;

}
.line{
	border-left: 1px solid #c7c7c7;
  height: 800px;
  width: 2%;
  margin-top: 30px;

}
.content_box{
	padding: 20px;
}
.head{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
    margin: 10px 0;
}
.gray_text{
	color: #7b7b7b;
	margin-bottom: -5px;

}
.fa{
	color: #151b29;
}
.skills{
	margin-left: 20px;
	    margin-bottom: 0px;
}
.skills li{
	padding: 5px;
}
.skills li span{
	color: #7b7b7b;
}
.para_text{
	font-size: 14px;
	color: #7b7b7b;
    margin: 10px 0;
}